@model IEnumerable<Slim.Models.ShortUrl>

<div class="short-list">
@foreach (var shortUrl in Model) {
	<div class="short-item" data-hash="@shortUrl.Hash">
		<div class="link-icon">
			<i class="fa fa-link "></i>
		</div>
		<div class="full-url">
			<a href="@Html.SlimAbsoluteShortUrl(@shortUrl)">@shortUrl.FullUrl</a>
		</div>
		<div class="host">@Html.SlimHostnameForUrl(@shortUrl.FullUrl)</div>
		<div class="short-url">
			<a href="@Html.SlimAbsoluteShortUrl(@shortUrl)">@Html.SlimFriendlyShortUrl(@shortUrl)</a>
		</div>
		<div class="stats">
			<a href="#" class="usage-trigger">
				<span class="click-count secondary label">@shortUrl.Count Clicks</span>
				<span><i class="fa fa-tachometer"></i> View analytics</span>
			</a>
		</div>
		<a class="copy-btn" href="@Html.SlimAbsoluteShortUrl(@shortUrl)"><span>Copy</span></a>
		<div class="usage-container"></div>
	</div>
}
</div>